edgelink-conf.json
{
    "projectID": "yncic-dangerous",
    "deviceID": "3D24E79E3D7D4078B48440B528E7BF74",
    "serverUrl": "tcp://test.mosquitto.org:1883",
    "queueCapacity": 100,
    "dataflow": [
        {
            "type": "inject",
            "id": "source1",
            "cron": "*/1 * * * * ?", // 每隔两秒执行一次
            "wires": [
                [
                    "func1"
                ]
            ]
        },
        {
            "type": "function",
            "id": "func1",
            "func": "msg.payload = 'Hello, World!'; var msg2 = cloneMsg(msg); msg2.payload = 'Hello!, EdgeLink!'; return [msg, msg2];",
            "wires": [
                [
                    "queue1"
                ],
                [
                    "sink3"
                ]
            ]
        },
        {
            "type": "queue",
            "id": "queue1",
            "capacity": 120,
            "wires": [
                [
                    "sink1",
                    "sink2"
                ]
            ]
        },
        {
            "type": "log",
            "id": "sink1",
            "wires": []
        },
        {
            "type": "blackhole",
            "id": "sink2",
            "wires": []
        },
        {
            "type": "log",
            "id": "sink3",
            "wires": []
        }
    ]
}