flows.json
[
    {
        "type": "tab",
        "id": "flow1",
        "name": "flow 1"
    },
    {
        "id": "broker1",
        "type": "mqtt-broker",
        "name": "",
        "broker": "test.mosquitto.org",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "type": "inject",
        "id": "source1",
        "z": "flow1",
        "name": "inject 1",
        "repeat": "",
        "once": false,
        "onceDelay": 1.0,
        "crontab": "*/2 * * * * ?",
        "wires": [
            [
                "func1",
                "temp1"
            ]
        ]
    },
    {
        "type": "function",
        "id": "func1",
        "z": "flow1",
        "name": "function 1",
        "func": "msg.payload = 'Hello, World!'; var msg2 = cloneMsg(msg); msg2.payload = 'Hello!, EdgeLink!'; return [msg, msg2];",
        "wires": [
            [
                "sink1"
            ],
            [
                "sink2"
            ]
        ]
    },
    {
        "type": "debug",
        "id": "sink1",
        "z": "flow1",
        "name": "debug 1",
        "wires": []
    },
    {
        "type": "debug",
        "id": "sink2",
        "z": "flow1",
        "name": "debug 2",
        "wires": []
    },
    {
        "type": "template",
        "id": "temp1",
        "z": "flow1",
        "name": "tempalte 1",
        "field": "payload",
        "fieldType": "payload",
        "template": "[72, 101, 108, 108, 111, 44, 32, 87, 111, 114, 108, 100, 33]",
        "wires": [
            [
                "sink3"
            ]
        ]
    },
    {
        "type": "mqtt out",
        "id": "sink3",
        "z": "flow1",
        "broker": "broker1",
        "topic": "/yncic-dangerous/data/test1",
        "qos": "1",
        "retain": "false",
        "name": "mqtt out 1",
        "wires": []
    }
]