flows.json
[
    {
        "id": "7c226c13f2e3b224",
        "type": "tab",
        "label": "流程 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "916fe0d41c3b82c9",
        "type": "debug",
        "z": "7c226c13f2e3b224",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 320,
        "wires": []
    },
    {
        "id": "2d418fb8d326e87e",
        "type": "inject",
        "z": "7c226c13f2e3b224",
        "name": "时间戳节点",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 320,
        "wires": [
            [
                "588889e4e95dd46c"
            ]
        ]
    },
    {
        "id": "9abcf751aa95c9fc",
        "type": "function",
        "z": "7c226c13f2e3b224",
        "name": "增加字段节点",
        "func": "var ts = msg.payload;\nmsg.payload = {\n    timestamp: ts.toString(),\n    say: \"We're so back!\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 320,
        "wires": [
            [
                "916fe0d41c3b82c9"
            ]
        ]
    },
    {
        "id": "b1c267019d45655a",
        "type": "range",
        "z": "7c226c13f2e3b224",
        "minin": "0",
        "maxin": "100",
        "minout": "1000",
        "maxout": "2000",
        "action": "scale",
        "round": true,
        "property": "payload",
        "name": "范围节点",
        "x": 460,
        "y": 320,
        "wires": [
            [
                "9abcf751aa95c9fc",
                "5c681e17d918ccc1"
            ]
        ]
    },
    {
        "id": "588889e4e95dd46c",
        "type": "function",
        "z": "7c226c13f2e3b224",
        "name": "价值",
        "func": "msg.payload = msg.payload % 100;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 320,
        "wires": [
            [
                "b1c267019d45655a",
                "3596fa8fefd657e4"
            ]
        ]
    },
    {
        "id": "5d8ccc1b11c44a04",
        "type": "debug",
        "z": "7c226c13f2e3b224",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "61f741d54ca827ea",
        "type": "debug",
        "z": "7c226c13f2e3b224",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 200,
        "wires": []
    },
    {
        "id": "5c681e17d918ccc1",
        "type": "function",
        "z": "7c226c13f2e3b224",
        "name": "function 1",
        "func": "msg.payload = JSON.stringify(msg.payload);\nmsg.step = \"after_range\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 260,
        "wires": [
            [
                "5d8ccc1b11c44a04"
            ]
        ]
    },
    {
        "id": "3596fa8fefd657e4",
        "type": "function",
        "z": "7c226c13f2e3b224",
        "name": "function 2",
        "func": "msg.payload = JSON.stringify(msg.payload);\nmsg.step = \"after_func\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 460,
        "y": 260,
        "wires": [
            [
                "61f741d54ca827ea"
            ]
        ]
    }
]